# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

**Objectives:**
- JavaScript
- SQL
- Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. Scikit Learn
2. Tensorflow
3. PyTorch

| Data Science Tools |
| -------------------|
| Apache Spark |
| BigML |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200 / 60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Yunus Emre TÃ¼rker